* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --blue: #287bff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 100%;
}

.nav {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  overflow: hidden;
  transition: 0.5s;
}

.nav.active {
  width: 80px;
}

.nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.nav ul li:hover,
.nav ul li.hovered {
  background: #fff;
}

.nav ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.nav li a {
  position: relative;
  width: 100%;
  text-decoration: none;
  color: #fff;
  display: flex;
}

.nav li:hover a,
.nav li.hovered a {
  color: var(--blue);
}

.nav .icon {
  position: relative;
  /* display: block; */
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.nav img {
  width: 1.75em;
  color: #fff;
}

.nav .title {
  position: relative;
  padding: 0 10px;
  line-height: 60px;
  white-space: nowrap;
}

.nav li:hover a::before,
.nav li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  top: -50px;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #fff;
  pointer-events: none;
}

.nav li:hover a::after,
.nav li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  bottom: -50px;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #fff;
  pointer-events: none;
}


/* main */

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #fff;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card-box{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
}

.card{
  position: relative;
  background: #fff;
  padding: 30px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.numbers{
  position: relative;
  font-size: 2.5em;
  font-weight: 500;
  color: var(--blue);
}

.card-name{
  color: var(--black2);
  font-size: 1.1em;
  margin-top: 5px;
}

.icon-box img{
  filter: invert(25%) sepia(90%) saturate(100%) hue-rotate(140deg) brightness(70%) contrast(10%);
}

.card:hover{
  background: var(--blue);
}

.card:hover img{
  filter: invert(100%) sepia(103%) saturate(100%) hue-rotate(140deg) brightness(100%) contrast(100%);
}

.card:hover .numbers , .card:hover .card-name{
  color: #fff;
=======
.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  border: 1px solid var(--black2);
  outline: none;
  padding-left: 35px;
  font-size: 16px;
}

.search label img {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;

}
